{{{head}}}
{{{menu}}}
<div class="container-narrow-spaced">
    <h1>Community</h1>
    <br />
    <p>The Turbo.lua community uses the Github issues page for staying in touch. If you have questions or ideas or just want to follow what's going on behind the scenes then be sure to subscribe.</p>
    <p>
        <a href="https://github.com/kernelsauce/turbo/issues?" target="_blank">
            GitHub Issue tracker
        </a>
    <p>
    <h2>Follow official Twitter account</h2>
    <br/>
    <p>Turbo.lua has a official Twitter feed that will contain anouncements on new features, fixes and more.</p>
    <a href="https://twitter.com/Turbolua" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Turbolua</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <h1>. . .</h1>
</div>
{{{foot}}}
