<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="description" content="High performance Lua web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Written in pure Lua. API is based on Tornado Web.High performance scriptable web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Based on the LuaJIT FFI it provides excellent performance and mininal footprint. Turbo.lua is non-blocking and features a fast web server, a async HTTP client and a minimal Mustache templating engine.">
	    <meta name="author" content="John Abrahamsen">
		<title>Turbo Framework</title>
		<link rel="shortcut icon" href="assets/ico/favicon.ico" />
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="lib/highlight/xcode.css" rel="stylesheet">
		<link href="assets/std.css" rel="stylesheet" media="screen">
	</head>
	<body>
