<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="description" content="Simple. Fast. Brilliant. Develop networking applications with Lua on Linux. High performance Lua web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Written in pure Lua. API is based on Tornado Web">
	    <meta name="author" content="John Abrahamsen">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>turbo.lua</title>
		<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="assets/ico/favicon.ico" />
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="lib/highlight/styles/solarized_light.css" rel="stylesheet">
		<link href="assets/std.css" rel="stylesheet" media="screen">
	</head>
	<body>
	<header class="navbar navbar-static-top" id="top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <a href="/" class="navbar-brand"><img src="assets/turbo-invert-mini.png"></a>
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="glyphicon glyphicon-tasks" style="color:whitesmoke;"></span>
	      </button>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	          <a href="/about">About</a>
	        </li>
	        <li>
	          <a href="/doc/" target="_blank">API Docs</a>
	        </li>
	        <li>
	          <a href="/modules">Modules</a>
	        </li>
	        <li>
	          <a href="/community">Community</a>
	        </li>
	        <li>
	          <a href="/sponsor">Sponsor</a>
	        </li>
	        <li>
	          <a href="/contact">Contact</a>
	        </li>
	      </ul>
	    </nav>
	  </div>
	</header>