{{{head}}}
<div id="topframe">
{{! Generate menu ... }}
{{{menu}}}
	<div id="top" class="centered">
		<p id="desc" class="container-narrow whitesmoke-text">
			High performance scriptable web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Based on the LuaJIT FFI it provides excellent performance and mininal footprint.
			Turbo.lua is non-blocking and features a fast web server, a async HTTP client and a minimal Mustache templating engine.
		</p>
		<p class="container-narrow whitesmoke-text">
			The toolkit is good for REST APIs, traditional HTTP requests and open connections like Websockets and offers a high degree of freedom to do whatever you want, your way.
		</p>
	</div>
	<div class="container-narrow-spaced">
		<center>
			<a class="btn btn-success margin-right-15" href="https://github.com/kernelsauce/turbo/archive/v1.0-beta2.tar.gz">Download v1.0 Beta</a>
			<a class="btn btn-info margin-right-15" href="doc/">API docs</a>
			<a class="btn btn-info margin-right-15" href="https://github.com/kernelsauce/turbo" target="_blank">View Github project</a>
		</center>
		
	</div>
</div>
<br >
<div class="container-narrow-spaced">
	<h1>Hello World</h1>
	<p>Making a web server that responds with the canonical message is easy.
	<pre><code class="lua">
local turbo = require "turbo"

local ExampleHandler = class("ExampleHandler", turbo.web.RequestHandler)

function ExampleHandler:get()
	self:write("Hello world!")
end

turbo.web.Application({
	{"^/$", ExampleHandler}
}):listen(8888)

turbo.ioloop.instance():start()
	</code></pre>
	<a href="https://twitter.com/Turbolua" class="twitter-follow-button" data-show-count="false">Follow @Turbolua</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{{{foot}}}
