<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="High performance Lua web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Written in pure Lua. API is based on Tornado Web.">
	    <meta name="author" content="John Abrahamsen">
		<title>Turbo.lua</title>
		<link rel="shortcut icon" href="assets/ico/favicon.png">
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/monokai.min.css">
		<link href="assets/std.css" rel="stylesheet" media="screen">
	</head>
	<body>
		{{! Generate menu ... }}
		{{{menu}}}
		<div id="top" class="centered">
			<img src="assets/turbo-invert.png"/>
			<p id="desc" class="container-narrow">
				High performance Lua web and networking toolkit, that's modern, fresh, object oriented and easy to modify. Written in pure Lua.
				Turbo.lua is non-blocking and features a fast web server and a HTTP client. The toolkit is good for REST APIs, traditional HTTP requests and open connections like Websockets and offers a high degree of freedom to do whatever you want, your way.
			</p>
		</div>
		<div class="container-narrow-spaced">
   			<center>
   				<a class="btn btn-success margin-right-15" href="packages/turbo-1.0.tar.gz">Download v1.0 Beta</a>
   				<a class="btn btn-info margin-right-15" href="doc/">API docs</a>
   				<a class="btn btn-info margin-right-15" href="https://github.com/kernelsauce/turbo" target="_blank">View Github project</a>
   			</center>
   		</div>
   		<br >
   		<div class="container-narrow-spaced whitesmoke-text"><h1>Hello World</h1></div>
   		<div class="container-narrow-spaced whitesmoke-text">
   			<p>Making a web server that responds with the canonical message is easy.
   			<pre>
				<code class="lua">
local turbo = require "turbo"

local ExampleHandler = class("ExampleHandler", turbo.web.RequestHandler)

function ExampleHandler:get()
	self:write("Hello world!")
end

turbo.web.Application({
	{"^/$", ExampleHandler}
}):listen(8888)

turbo.ioloop.instance():start()
				</code>
   			</pre>
   		</div>

		<script src="lib/jq/jquery-1.10.2.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
		<script src="assets/main.js"></script>
	</body>
</html>
