{{{head}}}
{{{menu}}}
<div class="container-narrow-spaced">
    <h1>Lua lang</h1><br />
    
    So like many others you probably are not too familiar with Turbo.lua. Fear not as there a lots of tutorials and the language itself is fairly simple.
    <h1>. . .</h1>
</div>
{{{foot}}}
