{{{head}}}
{{{menu}}}
<div class="container-narrow-spaced">
    <h1>Lua lang</h1><br />
    <p class="well"><strong>"Lua is a powerful, fast, lightweight, embeddable scripting language."</strong> quote Lua.org</p>
    <p>So like many others you probably are not too familiar with Lua (not LUA). There a lots of tutorials and the language itself is fairly simple.</p>
    <p>I would recommend starting out with one or both of these fabolous tutorials:</p>
    <ul>
        <li>
            <a href="http://tylerneylon.com/a/learn-lua/?utm_source=buffer&utm_campaign=Buffer&utm_content=bufferebd2c&utm_medium=twitter">Learn Lua in 15 minutes</a>
        </li>
        <li>
            <a href="http://luatut.com">luatut.com</a>
        </li>
    </ul>
    <p>And as a good fallback you have the very thorough official "Programming in Lua".</p>
    <p><a href="http://www.lua.org/pil/1.html">Lua.org Programming in Lua</a></p>
    <p>Turbo.lua must be run with LuaJIT. This means you can also draw from the extensions it offers. Read up on them at the official LuaJIT site.</p>
    <p><a href="http://luajit.org/extensions.html">LuaJIT.org extensions</a></p>
    <p>Lua has its own package manager, much like <i>pip</i> for Python and <i>npm</i> for Node, it is called <strong>luarocks</strong>. Luarocks is the preffered way of creating
     packages for Lua. You can browse the packages available at:</p>
    <p><a href="http://luarocks.org/repositories/rocks/">Main LuaRocks server</a></p>
    <h1>. . .</h1>
</div>
{{{foot}}}
