{{{head}}}
{{{menu}}}
<div class="container-narrow-spaced">
    <h1>Performance</h1><br />
    
    <p>So lets compare Turbo.lua to some other commonly used web frameworks.</p>
    <h1>. . .</h1>
</div>
{{{foot}}}
