{{{head}}}
{{{menu}}}
<div class="container-narrow-spaced">
	<h1>Sponsor</h1>
	<p>This project is mainly maintained and developed by one individual along with a few 
		contributors, it is not supported by a big company. Software development takes time,
		maintaing software takes time. This is all done on personal time free of charge and of a 
		purely personal interest. Which is fine!
	</p>
	<p>
		Sometimes this is not enough for companies that like the framework, but would like a
		feature X, that must work on platform X, with the X operating system.
	</p>
	<p>
		Turbo.lua can be sponsored in such a fashion that someone pay for a specific feature
		and that feature is included in the core framework and actively maintained in future releases. The code would the carry the same license as the rest of the framework, the Apache License Version 2. If the feature falls outside the domain of the core framework
		, then it can be added as a official module which will be actively maintained to work with the most recent version of the core framework. The sponsorship is used to justify the time and effort required by those working on implementing and maintaing the feature.
	</p>
	<p>
		All enquries may be directed towards sponsor@turbolua.org.
	</p>
</div>
{{{foot}}}