body {
	background-color: #363255;
	position: relative;
	padding-top: 50px;
}

pre{
	background-color: #363255;
	border: 0;
}

p{
	color:whitesmoke;
}

h4{
	text-align: center;
}

.centered{
	text-align: center;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-right-15{
	margin-right: 15px;
}

#desc{
	margin: 15px auto;	
}

.auto-margin{
	margin: 0 auto;
}

.container-narrow-spaced{
	margin: 35px auto;
	max-width: 700px;
}
.container-narrow{
	margin: 0 auto;
	max-width: 700px;
}

.black-text{
	color:black;
}

.whitesmoke-text{
	color:whitesmoke;
}

.code-snippet-sz{
	font-size:12px;
}

.navbar-inverse {
	background-color: #222;
	border-color: #272822;
}

#top{
	margin: 50px 0 0 0;
}

#teaser{
	padding: 0 100px;
	background-color: #466287;
	min-height: 250px;
	font-size: 13px;
	text-shadow: 0px 0px 2px #000;
}

pre code{
	background-color: #363255;
}

/** Bootstrap overrides. */

.navbar-inverse{
	background-color: #363255;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}