body {
	
	position: relative;
	font-family: 'Open Sans',sans-serif;
	color: #4d4e53;
}

#topline{
	background-color: darkblue;
	padding: 2px 0;
	box-shadow: 1px 1px 1px darkblue;
}

#topframe{
	background-color: #27175a;
	padding: 40px 0 30px 0;
}

.footer{
	padding: 20px;
	font-size: 13px;
	height: 80px;
}

h4{
	text-align: center;
}

.centered{
	text-align: center;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-right-15{
	margin-right: 15px;
}

#desc{
	margin: 25px auto;	
}

.auto-margin{
	margin: 0 auto;
}

.container-narrow-spaced{
	margin: 35px auto;
	max-width: 700px;
}

.container-spaced{
	margin: 35px auto;
	max-width: 900px;
}

.container-wide{
	margin: 35px auto;
	padding-left: 30px;
	padding-right: 30px;
}

.container-narrow{
	margin: 0 auto;
	max-width: 700px;
}

.black-text{
	color:black;
}

.whitesmoke-text{
	color:whitesmoke;
}

.code-snippet-sz{
	font-size:10px;
	color:whitesmoke;
	border-radius: 0;
	border-width: 0 0 0 2px;
	border-color: white;
}

#top{
	margin: 0 0 0 0;
}

#teaser{
	padding: 0 100px;
	min-height: 250px;
	font-size: 13px;
	text-shadow: 0px 0px 2px #000;
}

/** Menu */

div.menu-item{
	border-width: 0px 0 1px 0;
	border-color: #4d4e53;
	border-style: solid;
	cursor: pointer;
}

div.menu-item p{
	font-size: 11px;
}

div.menu-item h1{
	text-transform: uppercase;
	font-size: 15px;
}

div.menu-item-selected {
	color: #27175a;
}

/** Bootstrap overrides. */

pre{
	background-color: #27175a;
	border-color: #27175a;
}
